<div class="main-visual">
  <div class="main-visual-content">
  </div>
</div>

<main>
  <div class="main-about">
    <p>このサイトについて</p>  
  </div>
  
  <div class="wrapper">

    <div class="top-want">
      <p class="title">＼住んでみたい方はこちら／</p>
      <p class="text-center">
        <%= link_to "市町村別", want_posts_town_path, data: {"turbolinks" => false} %>
        <%= link_to "タグ検索", want_posts_tag_path, data: {"turbolinks" => false} %>
      </p>
      <p class="top-title">人気投稿</p>
      <div class="popular-post">
        <% @want_ranks.each_with_index do |want_post, idx| %>
            <div class="popular-post-content">
              <div class="ranking text-center"><i class="fas fa-crown"></i><%= "#{idx+1}" %></div>
              <div class="post-image">
                <%= link_to want_post_path(want_post), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag want_post, :post_image, size: "200x160" %>
                  <p>
                    <i class="fas fa-location-arrow"></i>
                    <%= want_post.user.address %>
                    ♡<%= want_post.want_likes.count %>
                  </p>
                <% end %><br>
              </div>
              <div class="new-post-body">
                <a class="post-title"><%= link_to want_post.title.truncate(26), want_post_path(want_post), data: {"turbolinks" => false} %></a><br>
                <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
                <a><%= link_to want_post.user.nickname, profile_path(want_post.user), data: {"turbolinks" => false} %></a><br>
              </div>
            </div>
        <% end %>
      </div>

      <p class="top-title">最新投稿</p>
      <div class="new-post">
        <% @want_posts.each do |want_post| %>
          <div class="new-post-content">
            <div class="post-image">
              <%= link_to want_post_path(want_post), data: {"turbolinks" => false} do %>
                <%= attachment_image_tag want_post, :post_image, size: "200x160" %>
                <p>
                  <i class="fas fa-location-arrow"></i>
                  <%= want_post.user.address %>
                  ♡<%= want_post.want_likes.count %>
                </p>
              <% end %><br>
            </div>
            <div class="new-post-body">
              <a class="post-title"><%= link_to want_post.title.truncate(26), want_post_path(want_post), data: {"turbolinks" => false} %></a><br>
              <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
              <a><%= link_to want_post.user.nickname, profile_path(want_post.user), data: {"turbolinks" => false} %></a><br>
            </div>
          </div>
        <% end %>
      </div>
      <p class="more"><i class="fas fa-hand-point-right"></i><%= link_to 'more', want_posts_path %></p>
    </div>
    
    <div class="divider"></div>

    <div class="top-help">
      <p class="title">＼地域の方はこちら／</p>
      <p class="text-center"><%= link_to "かんたん検索", help_posts_tag_path, data: {"turbolinks" => false} %></p>
      <p class="top-title">人気投稿</p>
      <div class="popular-post">
        <% @help_ranks.each_with_index do |help_post, idx| %>
            <div class="popular-post-content">
              <div class="ranking text-center"><i class="fas fa-crown"></i><%= "#{idx+1}" %></div>
              <div class="post-image">
                <%= link_to help_post_path(help_post), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag help_post, :post_image, size: "200x160" %>
                  <p>
                    <i class="fas fa-location-arrow"></i>
                    <%= help_post.user.address %>
                    ♡<%= help_post.help_likes.count %>
                  </p>
                <% end %><br>
              </div>
              <div class="new-post-body">
                <a class="post-title"><%= link_to help_post.title.truncate(26), help_post_path(help_post), data: {"turbolinks" => false} %></a><br>
                <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
                <a><%= link_to help_post.user.nickname, profile_path(help_post.user), data: {"turbolinks" => false} %></a><br>
              </div>
            </div>
        <% end %>
      </div>
        
        <p class="top-title">最新投稿</p>
        <div class="new-post">
          <% @help_posts.each do |help_post| %>
            <div class="new-post-content">
              <div class="post-image">
                <%= link_to help_post_path(help_post), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag help_post, :post_image, size: "200x160" %>
                  <p>
                    <i class="fas fa-location-arrow"></i>
                    <%= help_post.user.address %>
                    ♡<%= help_post.help_likes.count %>
                  </p>
                <% end %><br>
              </div>
              <div class="new-post-body">
                <a class="post-title"><%= link_to help_post.title.truncate(26), help_post_path(help_post), data: {"turbolinks" => false} %></a><br>
                <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
                <a><%= link_to help_post.user.nickname, profile_path(help_post.user), data: {"turbolinks" => false} %></a><br>
              </div>
            </div>
          <% end %>
        </div>
        <p class="more"><i class="fas fa-hand-point-right"></i><%= link_to 'more', help_posts_path %></p>
      </div>
      
    </div>

</main>