<div class="main-visual">
  <div class="main-visual-content">
    <h1>秋田、くらす。</h1>
    <h4>さあ、秋田で暮らしてみませんか？</h4>
  </div>
</div>

<main>
  <div class="wrapper">
    <div class="top-help">
      住んでみたい方はこちら
      <div class="help-popular-posts">
        <h3>人気投稿</h3>
      </div>
        <h3>最新投稿</h3>
        <div class="help-new-post">
          <% @help_posts.each do |help_post| %>
            <div class="help-new-post-content">
              <div class="help-new-post-image">
                <%= attachment_image_tag help_post, :post_image, size: "150x100" %><br>
              </div>
              <div class="help-new-post-body">
                <%= link_to help_post.title, help_post_path(help_post) %>
                ♡<%= help_post.help_likes.count %><br>
                <%= attachment_image_tag help_post.user, :profile_image, size: "50x50" %>
                <%= help_post.user.nickname %><br>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    
    <div class="top-want">
      地域の方はこちら
      <div class="want-popular-posts">
        <h3>人気投稿</h3>
      </div>
      <div class="want-new-posts">
        <h3>最新投稿</h3>
      </div>
    </div>
  </div>
</main>