<div class="member-edit">
  <p class="title">会員情報編集<p>
    <%= form_with model: @user, url: members_mypage_path, local: true do |f| %>
    <table class="table table-borderless">
      <tr>
        <td style="width: 30%">名前</td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td colspan="2"><%= f.email_field :email, size: 53 %></td>
      </tr>
      <tr>
        <td>表示名</td>
        <td colspan="2"><%= f.text_field :nickname, size: 53 %></td>
      </tr>
      <tr>
        <td>プロフィール画像</td>
        <td colspan="2"><%= f.attachment_field :profile_image %></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td colspan="2"><%= f.text_area :introduce, size: "53x5" %></td>
      </tr>
      <tr>
        <td>生年月日</td>
        <td colspan="2"><%= f.date_select(:birth_date, start_year: 1900, end_year: (Time.now.year), default: Date.new(1990, 1, 1)) %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td colspan="2"><%= f.text_field :phone_number, placeholder: "000-0000-0000", size: 53 %></td>
      </tr>
      <tr>
        <td>その他連絡先</td>
        <td colspan="2"><%= f.text_field :contact, placeholder: "連絡しやすい連絡先をご記入ください。", size: 53 %></td>
      </tr>      
      <tr>
        <td>お住まいの都道府県</td>
        <td colspan="2"><%= f.text_field :address, placeholder: "東京都", size: 53 %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "保存" %></td>
      </tr>
    </table>
    <% end %>
</div>