<h3>マイページ</h3>
<table>
  <tr>
    <td>氏名</td>
    <td><%= @user.last_name+@user.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @user.last_name_kana+@user.first_name_kana %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>ニックネーム</td>
    <td><%= @user.nickname %></td>
  </tr>
  <tr>
    <td>プロフィール画像</td>
    <td><%= attachment_image_tag @user, :profile_image %></td>
  </tr>
  <tr>
    <td>自己紹介</td>
    <td><%= @user.introduce %></td>
  </tr>
  <tr>
    <td>誕生日</td>
    <td><%= @user.birth_date %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @user.phone_number %></td>
  </tr>
  <tr>
    <td>住所（県名）</td>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <td><%= link_to '編集', members_mypage_edit_path %></td>
  </tr>
</table>