<div class="index">
<div class="profile">
  <p class="title">＼プロフィール／</p>
    <div class="user">
      <%= attachment_image_tag @user, :profile_image, size: "250x250", fallback: "profile_image.jpeg" %>
      <p class="nickname"><%= @user.nickname %></p>
      <div class="user-content">
        <div class="introduce"><p><%= simple_format(@user.introduce) %></p></div>
        <p>名前:<%= @user.last_name+@user.first_name %>(<%= @user.last_name_kana+@user.first_name_kana %>)</p>
        <p>居住地:<%= @user.address %></p>
        <p>メールアドレス:<%= @user.email %></p>
        <p>誕生日:<%= @user.birth_date.strftime('%Y/%m/%d') %></p>
        <% if @user == current_user %>
          <p class="link"><%= link_to '編集', members_mypage_edit_path %></p>
        <% end %>
      </div>
    </div>
</div>

<div class="profile-post">
  <% if @user == current_user %>
    <hr class="line">
    <div class="new-post-link">
      <p class="title">投稿する</p>
      <div class="post-link">
        <div class="link"><%= link_to '自分をPRする', new_help_post_path %></div>
        <div class="link"><%= link_to '地域に呼ぶ', new_want_post_path %></div>
      </div>
    </div>
  <% end %>
  <hr class="line">
  <p class="title">わたしの投稿一覧</p>
    <div class="post-index">
      <% @user.help_posts.each do |help_post| %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to help_post_path(help_post) do %>
              <%= attachment_image_tag help_post, :post_image, size: "350x210", fallback: "post.png" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= help_post.user.address %>
                ♡<%= help_post.help_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to help_post.title.truncate(44), help_post_path(help_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
            <a><%= link_to help_post.user.nickname, profile_path(help_post.user) %></a><br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-index">
      <% @user.want_posts.each do |want_post| %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to want_post_path(want_post) do %>
              <%= attachment_image_tag want_post, :post_image, size: "350x210", fallback: "post.png" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= want_post.town.name %>
                ♡<%= want_post.want_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to want_post.title.truncate(44), want_post_path(want_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
            <a><%= link_to want_post.user.nickname, profile_path(want_post.user) %></a><br>
          </div>
        </div>
      <% end %>
    </div>
  <hr class="line">
  <p class="title">わたしのお気に入り一覧</p>
    <div class="post-index">
      <% @help_likes.each do |help_like| %>
        <% help_post = HelpPost.find_by(id: help_like.help_post_id) %>
          <div class="post-content">
            <div class="post-image">
              <%= link_to help_post_path(help_post) do %>
                <%= attachment_image_tag help_post, :post_image, size: "350x210", fallback: "post.png" %>
                <p>
                  <i class="fas fa-location-arrow"></i>
                  <%= help_post.user.address %>
                  ♡<%= help_post.help_likes.count %>
                </p>
              <% end %><br>
            </div>
            <div class="post-body">
              <a class="post-title"><%= link_to help_post.title.truncate(44), help_post_path(help_post) %></a><br>
              <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
              <a><%= link_to help_post.user.nickname, profile_path(help_post.user) %></a><br>
            </div>
          </div>
      <% end %>
    </div>
    <div class="post-index">
      <% @want_likes.each do |want_like| %>
        <% want_post = WantPost.find_by(id: want_like.want_post_id) %>
          <div class="post-content">
            <div class="post-image">
              <%= link_to want_post_path(want_post) do %>
                <%= attachment_image_tag want_post, :post_image, size: "350x210", fallback: "post.png" %>
                <p>
                  <i class="fas fa-location-arrow"></i>
                  <%= want_post.town.name %>
                  ♡<%= want_post.want_likes.count %>
                </p>
              <% end %><br>
            </div>
            <div class="post-body">
              <a class="post-title"><%= link_to want_post.title.truncate(44), want_post_path(want_post) %></a><br>
              <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
              <a><%= link_to want_post.user.nickname, profile_path(want_post.user) %></a><br>
            </div>
          </div>
      <% end %>
    </div>
</div>
</div>