<div class="profile">
  <p class="title">プロフィール</p>
    <div class="user">
      <%= attachment_image_tag @user, :profile_image, size: "250x250", fallback: "profile_image.jpeg" %>
      <p class="nickname"><%= @user.nickname %></p>
      <div class="user-content">
        <p><%= @user.introduce %></p><br>
        <p>Name:<%= @user.last_name+@user.first_name %>(<%= @user.last_name_kana+@user.first_name_kana %>)</p>
        <p>Address:<%= @user.address %></p>
        <p>Email:<%= @user.email %></p>
        <p>Telephone:<%= @user.phone_number %></p>
        <p>Birthday:<%= @user.birth_date.strftime('%Y/%m/%d') %></p>
        <% if @user == current_user %>
          <p class="text-center"><%= link_to '編集', members_mypage_edit_path, data: {"turbolinks" => false} %></p>
        <% end %>
      </div>
    </div>
</div>

<div class="profile-post">
  <hr class="line">
  <p class="title">わたしの投稿一覧</p>
    <div class="post-index">
      <% @user.help_posts.each do |help_post| %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to help_post_path(help_post) do %>
              <%= attachment_image_tag help_post, :post_image, size: "300x200" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= help_post.user.address %>
                ♡<%= help_post.help_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to help_post.title, help_post_path(help_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "50x50", fallback: "profile_image.jpg" %>
            <a><%= link_to help_post.user.nickname, profile_path(help_post.user), data: {"turbolinks" => false} %></a><br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-index">
      <% @user.want_posts.each do |want_post| %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to want_post_path(want_post) do %>
              <%= attachment_image_tag want_post, :post_image, size: "300x200" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= want_post.user.address %>
                ♡<%= want_post.want_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to want_post.title, want_post_path(want_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "50x50", fallback: "profile_image.jpg" %>
            <a><%= link_to want_post.user.nickname, profile_path(want_post.user), data: {"turbolinks" => false} %></a><br>
          </div>
        </div>
      <% end %>
    </div>
  <hr class="line">
  <p class="title">わたしのお気に入り一覧</p>
    <% @help_likes.each do |help_like| %>
      <% help_post = HelpPost.find_by(id: help_like.help_post_id) %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to help_post_path(help_post) do %>
              <%= attachment_image_tag help_post, :post_image, size: "300x200" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= help_post.user.address %>
                ♡<%= help_post.help_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to help_post.title, help_post_path(help_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag help_post.user, :profile_image, size: "50x50", fallback: "profile_image.jpg" %>
            <a><%= link_to help_post.user.nickname, profile_path(help_post.user), data: {"turbolinks" => false} %></a><br>
          </div>
        </div>
    <% end %>
    <% @want_likes.each do |want_like| %>
      <% want_post = WantPost.find_by(id: want_like.want_post_id) %>
        <div class="post-content">
          <div class="post-image">
            <%= link_to want_post_path(want_post) do %>
              <%= attachment_image_tag want_post, :post_image, size: "300x200" %>
              <p>
                <i class="fas fa-location-arrow"></i>
                <%= want_post.user.address %>
                ♡<%= want_post.want_likes.count %>
              </p>
            <% end %><br>
          </div>
          <div class="post-body">
            <a class="post-title"><%= link_to want_post.title, want_post_path(want_post) %></a><br>
            <a class="post-user"><%= attachment_image_tag want_post.user, :profile_image, size: "50x50", fallback: "profile_image.jpg" %>
            <a><%= link_to want_post.user.nickname, profile_path(want_post.user), data: {"turbolinks" => false} %></a><br>
          </div>
        </div>
    <% end %>
</div>