<div class="profile">
  <p class="title">プロフィール</p>
    <div class="user">
      <%= attachment_image_tag @user, :profile_image, size: "250x250" %>
      <p class="nickname"><%= @user.nickname %></p>
      <div class="user-content">
        <p><%= @user.introduce %></p><br>
        <p>Name:<%= @user.last_name+@user.first_name %>(<%= @user.last_name_kana+@user.first_name_kana %>)</p>
        <p>Address:<%= @user.address %></p>
        <p>Email:<%= @user.email %></p>
        <p>Telephone:<%= @user.phone_number %></p>
        <p>Birthday:<%= @user.birth_date %></p>
        <% if @user == current_user %>
          <p><%= link_to '編集', members_mypage_edit_path %></p>
        <% end %>
      </div>
    </div>
</div>

<div class="profile-post">
  <hr>
  <p class="title">わたしの投稿一覧</p>
  <%= render 'users/help_posts/index', help_posts: @help_posts, user: @user %>
  <%= render 'users/want_posts/index', want_posts: @want_posts, user: @user %>
  <hr>
  <p class="title">わたしのお気に入り一覧</p>
</div>