<% help_post.help_comments.each do |help_comment| %>
  <%= attachment_image_tag help_comment.user, :profile_image, size: "30x30", fallback: "profile_image.jpg" %>
  <%= link_to help_comment.user.nickname, profile_path(help_comment.user) %>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= help_comment.created_at.strftime('%Y/%m/%d') %><br>
  <%= help_comment.comment %>
  <p class="comment-delete">
    <% if help_comment.user == current_user %>
      <%= link_to '削除', help_post_help_comment_path(help_comment.help_post, help_comment), method: :delete, remote: true %>
    <% end %>
  </p>
  <hr class="line">
<% end %>
