<div class="sessions-new">
  <p class="title">会員ログイン</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 53 %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password", size: 53 %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "Log in" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
</div>