<div class="admin-post-show">
  <p class="title">投稿一覧</p>
   <table class="table table-borderless table-hover">
      <tbody>
        <tr>
          <td style="width: 20%">タイトル</td>
          <td><%= @help_post.title %></td>
        </tr>
        <tr>
          <td>PR画像</td>
          <td><%= attachment_image_tag @help_post, :post_image, size: "500x350", fallback: image_url("post.png") %></td>
        </tr>
        <tr>
          <td>本文</td>
          <td><%= @help_post.body %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td><%= @help_post.tag_list %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @help_post.genre.name %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if @help_post.active_status == true %>
              募集中
            <% else %>
              募集終了
            <% end %>
          </td>
        </tr>
        <tr>
          <td>投稿者</td>
          <td><%= link_to @help_post.user.nickname, admins_member_path(@help_post.user) %></td>
        </tr>
        <tr>
          <td>投稿日時</td>
          <td><%= @help_post.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to '削除', admins_help_post_path(@help_post), method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
        </tr>
      </tbody>
    </table>
    <p class="text-right"><i class="fas fa-hand-point-right"></i><%= link_to "投稿一覧に戻る", admins_help_posts_path %></p>
</div>