  <p>コメントを残す</p>
    <%= form_with model:[want_post, want_comment], local: true do |f| %>
      <%= f.text_area :comment, size: "50" %>
      <%= f.submit '送信'%>
    <% end %>
    <hr>
      <p><%= want_post.want_comments.count %> comments!</p>
    
    <% want_post.want_comments.each do |want_comment| %>
      <%= attachment_image_tag want_comment.user, :profile_image, size: "50x50" %>
      <p><%= link_to want_comment.user.nickname, members_mypage_path %>&nbsp;&nbsp;&nbsp;&nbsp;<%= want_comment.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= want_comment.comment %></p>
      <p class="comment-delete">
        <% if want_comment.user == current_user %>
          <%= link_to '削除', want_post_want_comment_path(want_comment.want_post, want_comment), method: :delete %>
        <% end %>
      </p>
      <hr>
    <% end %>
  