<%= form_with model:want_post, local:true do |f| %>
  <table class="table table-borderless">
    <tr>
      <td style="width: 20%">投稿画像</td>
      <td><%= f.attachment_field :post_image %></td>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= f.text_field :title, size: 53, placeholder: "湖畔のカフェでアルバイトしてみませんか？" %></td>
    </tr>
    <tr>
      <td>本文</td>
      <td><%= f.text_area :body, size: "53x5", placeholder: "夏休み期間中のアルバイトを募集しています！元気がある人大歓迎！" %></td>
    </tr>
    <tr>
      <td>募集要項</td>
      <td><%= f.text_area :requirement, size: "53x5", placeholder: "時給／交通費補助／勤務地住所　など" %></td>
    </tr>
    <tr>
       <td>タグ</td>
      <td><%= f.text_field :tag_list, value: @want_post.tag_list.join(","), size: 53, class: "tag_form tagit-hidden-field", name: "want_post[tag_list]", id: "want_post_tag_list" %></td>
   </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択してください", size: 50 %></td>
    </tr>
    <tr>
      <td>市町村</td>
      <td><%= f.collection_select :town_id, Town.all, :id, :name, :prompt => "選択してください", size: 50 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit '投稿' %></td>
    </tr>
  </table>
<% end %>