<div class="post">
  <p class="post-image"><%= attachment_image_tag @want_post, :post_image, size: "900x500" %></p>
  <p class="post-created-at">公開日：<%= @want_post.created_at.strftime('%Y/%m/%d') %></p>
  <p class="post-genre"><%= @want_post.genre.name %></p>
  <p class="title"><%= @want_post.title %></p>
  <p><%= @want_post.town.name %></p>
  <p class="post-user-image">投稿者：<%= attachment_image_tag @want_post.user, :profile_image, size: "50x50", fallback: "profile_image.jpg" %><%= link_to @want_post.user.nickname, profile_path, data: {"turbolinks" => false} %></p>
  <p class="post-like">気になる！<%= render "users/want_likes/like", want_post: @want_post %></p>
  <div class="post-contents">
    <p class="title">内容</p>
    <p><%= simple_format(@want_post.body) %></p>
  </div>
  <div class="post-contents">
    <p class="title">募集要項</p>
    <p><%= simple_format(@want_post.requirement) %></p>
  </div>
  <div class="post-contents">
    <p class="title">連絡先</p>
    <p>紹介文：<%= simple_format(@want_post.user.introduce) %></p>
    <p>メールアドレス：<%= @want_post.user.email %></p>
    <p>電話番号：<%= @want_post.user.phone_number %></p>
  </div>
  <hr class="line">
  <p class="post-edit-delete">
    <% if @want_post.user == current_user %>
      <%= link_to '編集', edit_want_post_path %>/
      <%= link_to '削除', want_post_path(@want_post), method: :delete %>
      <hr class="line">
    <% end %>
  </p>
  <p class="post-comment">
    <%= render "users/want_posts/comment", want_post: @want_post, want_comment: @want_comment %>
  </p>
</div>