<%= form_with model:@help_post, local:true do |f| %>
  <h4>投稿画像</h4>
  <%= f.attachment_field :post_image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>