<h4>投稿詳細</h4>
<table>
  <p><%= @help_post.user.nickname %></p>
  <p><%= attachment_image_tag @help_post.user, :profile_image, size: "150x150" %></p>
  <p><%= attachment_image_tag @help_post, :post_image, size: "270x150" %></p>
  <p><%= @help_post.title %></p>
  <p><%= @help_post.body %></p>
  <p><%= @help_post.genre.name %></p>
  <% if @help_post.liked_by?(current_user) %>
    <p>
      <%= link_to help_post_help_likes_path(@help_post), method: :delete do %>
        ♥<%= @help_post.help_likes.count %>いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to help_post_help_likes_path(@help_post), method: :post do %>
        ♡<%= @help_post.help_likes.count %>いいね
      <% end %>
    </p>
  <% end %>
  <%= link_to '編集', edit_help_post_path %>
  <%= link_to '削除', help_post_path(@help_post), method: :delete %>
</table>

  <%= form_with model:[@help_post, @help_comment], local: true do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit '送信'%>
  <% end %>

  <% @help_post.help_comments.each do |help_comment| %>
    <%= attachment_image_tag help_comment.user, :profile_image, size: "50x50" %>
    <%= link_to help_comment.user.nickname, members_mypage_path %>
    <%= help_comment.comment %>
    <% if help_comment.user == current_user %>
      <%= link_to '削除', help_post_help_comment_path(help_comment), method: :delete %>
    <% end %>
  <% end %>