<h4>投稿の詳細</h4>
<p><%= @help_post.user.nickname %></p>
<p><%= attachment_image_tag @help_post.user, :profile_image %></p>
<p><%= @help_post.title %></p>
<p><%= @help_post.body %></p>
<%= link_to '編集', edit_help_post_path %>