<div class="admin-user-index">
  <p class="title">ユーザー一覧</p>
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th></th>
        <th>名前</th>
        <th>表示名</th>
        <th>都道府県</th>
        <th>登録日</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= attachment_image_tag user, :profile_image, size: "30x30" %></td>
        <td>
          <%= link_to admins_member_path(user) do %>
            <%= user.last_name %><%= user.first_name %>
          <% end %>
        </td>
        <td><%= user.nickname %></td>
        <td><%= user.address %></td>
        <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p class="text-right"><i class="fas fa-hand-point-right"></i><%= link_to "トップに戻る", admins_top_path %></p>
</div>