<header>
  logo
  <% if admin_signed_in? %>
    <ul>
      <li><%= link_to '会員一覧', admins_users_path %></li>
      <li><%= link_to 'ジャンル', admins_genres_path %></li>
    </ul>
  <% elsif user_signed_in? %>
    <ul>
      <li><%= link_to 'top', root_path %></li>
      <li><%= link_to 'マイページ', mypage_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to '会員登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', user_session_path %></li>
    </ul>
  <% end %>
</header>