<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f7dad9">
    <div class="container">
      <a class="navbar-brand p-3" href="/">top</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li><%= link_to '会員一覧', admins_members_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'ジャンル', admins_genres_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to 'top', root_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'マイページ', members_mypage_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'help投稿一覧', help_posts_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'want投稿一覧', want_posts_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
          <% else %>
            <li><%= link_to 'about', homes_about_path, class: 'nav-link text-light'  %></li>
            <li><%= link_to '会員登録', new_user_registration_path, class: 'nav-link text-light' %></li>
            <li><%= link_to 'ログイン', user_session_path, class: 'nav-link text-light' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>