<h2>新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="table">
    <tbody>
      <tr>
        <td>名前</td>
        <td><%= f.label :first_name, "(姓)", class: "user_name" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"秋田" %></td>
        <td><%= f.label :last_name, "(名)", class: "user_name" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"犬太" %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.label :first_name_kana, "(セイ)" %> <%= f.text_field :first_name_kana, :placeholder =>"アキタ" %></td>
        <td><%= f.label :last_name_kana, "(メイ)" %> <%= f.text_field :last_name_kana, :placeholder =>"イヌタ" %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :nickname, "ニックネーム" %></td>
        <td colspan="2"><%= f.text_field :nickname, :placeholder => "わんこ" %></td>
      </tr>
      <tr>
        <td><%= f.label :introduce, "自己紹介" %></td>
        <td colspan="2"><%= f.text_area :introduce, :placeholder => "秋田の雪がだいすきです。" %></td>
      </tr>
      <tr>
        <td><%= f.label :birth_date, "生年月日" %></td>
        <td><%= f.date_select(:birth_date, start_year: 1900, end_year: (Time.now.year), default: Date.new(1990, 1, 1)) %></td>
      </tr>
      <tr>
        <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
        <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
        <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><%= f.submit "新規登録" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render "devise/shared/links" %>
